**/*.pyc
**/__init__.py
SUSYBSMAnalysis/HSCP/python/*.pyc
**/*~
BEAN/
CMGTools/
CommonTools/
CondFormats/
DataFormats/
EGamma/
FWCore/
JetMETCorrections/
Muon/
PhysicsTools/
RecoBTag/
RecoMET/
RecoParticleFlow/
RecoTauTag/
RecoVertex/
TopQuarkAnalysis/
Ntuples/MyNtuple/analyzer/
Ntuples/MyNtuple/TheNtupleMaker.log
Ntuples/MyNtuple/triggerNames.txt
Ntuples/MyNtuple/variables.txt
TheNtupleMaker.log
analyzer/
triggerNames.txt
variables.txt
